@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");

/* make vars for colors */
:root {
  --dark: #314b80;
  --hover: #1d3057;
  --light: #799EE8;
  --lg: #f3f4f6;

}

/* General */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  color: var(--dark);
  line-height: 1.2;
}
h2 {
  font-size: 28px;
}

li,
p,
a {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: var(--dark);
  line-height: 1.5;
  /* remove underline */
  text-decoration: none;
}
/* api css */
.scripture-styles {
  font-size: 18px;
  font-family: "Noto Serif", serif;
  line-height: 25px;
  color: #111;
  -webkit-font-smoothing: antialiased;
}
.scripture-styles html,
.scripture-styles body,
.scripture-styles div,
.scripture-styles span,
.scripture-styles applet,
.scripture-styles object,
.scripture-styles iframe,
.scripture-styles h1,
.scripture-styles h2,
.scripture-styles h3,
.scripture-styles h4,
.scripture-styles h5,
.scripture-styles h6,
.scripture-styles p,
.scripture-styles blockquote,
.scripture-styles pre,
.scripture-styles a,
.scripture-styles abbr,
.scripture-styles acronym,
.scripture-styles address,
.scripture-styles big,
.scripture-styles cite,
.scripture-styles code,
.scripture-styles del,
.scripture-styles dfn,
.scripture-styles em,
.scripture-styles img,
.scripture-styles ins,
.scripture-styles kbd,
.scripture-styles q,
.scripture-styles s,
.scripture-styles samp,
.scripture-styles small,
.scripture-styles strike,
.scripture-styles strong,
.scripture-styles sub,
.scripture-styles sup,
.scripture-styles tt,
.scripture-styles var,
.scripture-styles b,
.scripture-styles u,
.scripture-styles i,
.scripture-styles center,
.scripture-styles dl,
.scripture-styles dt,
.scripture-styles dd,
.scripture-styles ol,
.scripture-styles ul,
.scripture-styles li,
.scripture-styles fieldset,
.scripture-styles form,
.scripture-styles label,
.scripture-styles legend,
.scripture-styles table,
.scripture-styles caption,
.scripture-styles tbody,
.scripture-styles tfoot,
.scripture-styles thead,
.scripture-styles tr,
.scripture-styles th,
.scripture-styles td,
.scripture-styles article,
.scripture-styles aside,
.scripture-styles canvas,
.scripture-styles details,
.scripture-styles embed,
.scripture-styles figure,
.scripture-styles figcaption,
.scripture-styles footer,
.scripture-styles header,
.scripture-styles hgroup,
.scripture-styles menu,
.scripture-styles nav,
.scripture-styles output,
.scripture-styles ruby,
.scripture-styles section,
.scripture-styles summary,
.scripture-styles time,
.scripture-styles mark,
.scripture-styles audio,
.scripture-styles video {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: inherit;
  vertical-align: baseline;
}
.scripture-styles article,
.scripture-styles aside,
.scripture-styles details,
.scripture-styles figcaption,
.scripture-styles figure,
.scripture-styles footer,
.scripture-styles header,
.scripture-styles hgroup,
.scripture-styles menu,
.scripture-styles nav,
.scripture-styles section {
  display: block;
}
.scripture-styles ol,
.scripture-styles ul {
  list-style: none;
}
.scripture-styles blockquote,
.scripture-styles q {
  quotes: none;
}
.scripture-styles blockquote:before,
.scripture-styles blockquote:after,
.scripture-styles q:before,
.scripture-styles q:after {
  content: "";
  content: none;
}
.scripture-styles table {
  border-collapse: collapse;
  border-spacing: 0;
}
.scripture-styles .c {
  text-align: center;
  font-weight: bold;
  font-size: 1.3em;
}
.scripture-styles .ca {
  font-style: italic;
  font-weight: normal;
  color: #777;
}
.scripture-styles .ca:before {
  content: "(";
}
.scripture-styles .ca:after {
  content: ")" !important;
}
.scripture-styles .cl {
  text-align: center;
  font-weight: bold;
}
.scripture-styles .cd {
  margin-left: 1em;
  margin-right: 1em;
  font-style: italic;
}
.scripture-styles .v,
.scripture-styles .vp,
.scripture-styles sup[class^="v"] {
  color: #000;
  font-size: 0.7em;
  letter-spacing: -0.03em;
  vertical-align: 0.25em;
  line-height: 0;
  font-family: sans-serif;
  font-weight: bold;
  top: inherit;
}
.scripture-styles .v:after,
.scripture-styles .vp:after,
.scripture-styles sup[class^="v"]:after {
  content: "\a0";
}
.scripture-styles sup + sup:before {
  content: "\a0";
}
.scripture-styles .va {
  font-style: italic;
}
.scripture-styles .va:before {
  content: "(";
}
.scripture-styles .va:after {
  content: ")" !important;
}
.scripture-styles .x {
  font-size: 16px;
  box-sizing: border-box;
  display: inline-block;
  position: relative;
  padding: 0 0.4em;
  margin: 0 0.1em;
  text-indent: 0;
  text-align: left;
  border-radius: 4px;
  border: 1px solid #dcdcdc;
}
.scripture-styles .xo {
  font-weight: bold;
}
.scripture-styles .xk {
  font-style: italic;
}
.scripture-styles .xq {
  font-style: italic;
}
.scripture-styles .notelink {
  text-decoration: underline;
  padding: 0.1em;
}
.scripture-styles .notelink,
.scripture-styles .notelink:hover,
.scripture-styles .notelink:active,
.scripture-styles .notelink:visited {
  color: #6a6a6a;
}
.scripture-styles .notelink sup {
  font-size: 0.7em;
  letter-spacing: -0.03em;
  vertical-align: 0.25em;
  line-height: 0;
  font-family: sans-serif;
  font-weight: bold;
}
.scripture-styles .notelink + sup:before {
  content: "\a0";
}
.scripture-styles .f {
  font-size: 16px;
  display: inline-block;
  box-sizing: border-box;
  padding: 0 0.4em;
  margin: 0 0.1em;
  text-indent: 0;
  text-align: left;
  border-radius: 4px;
  border: 1px solid #dcdcdc;
}
.scripture-styles .fr {
  font-weight: bold;
}
.scripture-styles .fk {
  font-style: italic;
  font-variant: small-caps;
}
.scripture-styles [class^="fq"] {
  font-style: italic;
}
.scripture-styles .fl {
  font-style: italic;
  font-weight: bold;
}
.scripture-styles .fv {
  color: #515151;
  font-size: 0.75em;
  letter-spacing: -0.03em;
  vertical-align: 0.25em;
  line-height: 0;
  font-family: sans-serif;
  font-weight: bold;
}
.scripture-styles .fv:after {
  content: "\a0";
}
.scripture-styles .h {
  text-align: center;
  font-style: italic;
}
.scripture-styles [class^="imt"],
.scripture-styles [class^="is"] {
  text-align: center;
  font-weight: bold;
  font-size: 27px;
  line-height: 50px;
  margin-top: 25px;
  margin-bottom: 25px;
}
.scripture-styles [class^="ip"] {
  text-indent: 1em;
}
.scripture-styles .ipi {
  padding-left: 1em;
  padding-right: 1em;
}
.scripture-styles .im {
  text-indent: 0;
}
.scripture-styles .imi {
  text-indent: 0;
  margin-left: 1em;
  margin-right: 1em;
}
.scripture-styles .ipq {
  font-style: italic;
  margin-left: 1em;
  margin-right: 1em;
}
.scripture-styles .imq {
  margin-left: 1em;
  margin-right: 1em;
}
.scripture-styles .ipr {
  text-align: right;
  text-indent: 0;
}
.scripture-styles [class^="iq"] {
  margin-left: 1em;
  margin-right: 1em;
}
.scripture-styles .iq2 {
  text-indent: 1em;
}
.scripture-styles [class^="ili"] {
  padding-left: 1em;
  text-indent: -1em;
}
.scripture-styles .ili1 {
  margin-left: 1em;
  margin-right: 1em;
}
.scripture-styles .ili2 {
  margin-left: 2em;
  margin-right: 1em;
}
.scripture-styles .iot {
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  margin-top: 25px;
  margin-bottom: 0px;
}
.scripture-styles .io,
.scripture-styles .io1 {
  margin-left: 1em;
  margin-right: 0em;
}
.scripture-styles .io2 {
  margin-left: 2em;
  margin-right: 0em;
}
.scripture-styles .io3 {
  margin-left: 3em;
  margin-right: 0em;
}
.scripture-styles .io4 {
  margin-left: 4em;
  margin-right: 0em;
}
.scripture-styles .ior {
  font-style: italic;
}
.scripture-styles .iex {
  text-indent: 1em;
}
.scripture-styles .iqt {
  text-indent: 1em;
  font-style: italic;
}
.scripture-styles [class^="p"] {
  text-indent: 1em;
}
.scripture-styles .m {
  text-indent: 0 !important;
}
.scripture-styles .pmo {
  text-indent: 0;
  margin-left: 1em;
  margin-right: 0em;
}
.scripture-styles .pm {
  margin-left: 1em;
  margin-right: 0em;
}
.scripture-styles .pmr {
  text-align: right;
}
.scripture-styles .pmc {
  margin-left: 1em;
  margin-right: 0em;
}
.scripture-styles .pi {
  margin-left: 1em;
  margin-right: 0em;
}
.scripture-styles .pi1 {
  margin-left: 2em;
  margin-right: 0em;
}
.scripture-styles .pi2 {
  margin-left: 3em;
  margin-right: 0em;
}
.scripture-styles .pi3 {
  margin-left: 4em;
  margin-right: 0em;
}
.scripture-styles .mi {
  margin-left: 1em;
  margin-right: 0em;
  text-indent: 0;
}
.scripture-styles .pc {
  text-align: center;
  text-indent: 0;
}
.scripture-styles .cls {
  text-align: right;
}
.scripture-styles [class^="li"] {
  padding-left: 1em;
  text-indent: -1em;
  margin-left: 1em;
  margin-right: 0em;
}
.scripture-styles .li2 {
  margin-left: 2em;
  margin-right: 0em;
}
.scripture-styles .li3 {
  margin-left: 3em;
  margin-right: 0em;
}
.scripture-styles .li4 {
  margin-left: 4em;
  margin-right: 0em;
}
.scripture-styles .b {
  height: 25px;
}
.scripture-styles [class^="q"] {
  padding-left: 1em;
  text-indent: -1em;
  margin-left: 1em;
  margin-right: 0em;
}
.scripture-styles .q2 {
  margin-left: 1.5em;
  margin-right: 0em;
}
.scripture-styles .q3 {
  margin-left: 2em;
  margin-right: 0em;
}
.scripture-styles .q4 {
  margin-left: 2.5em;
  margin-right: 0em;
}
.scripture-styles .qr {
  text-align: right;
  font-style: italic;
}
.scripture-styles .qc {
  text-align: center;
}
.scripture-styles .qs {
  font-style: italic;
  text-align: right;
}
.scripture-styles .qa {
  text-align: center;
  font-style: italic;
  font-size: 1.1em;
  margin-left: 0em;
  margin-right: 0em;
}
.scripture-styles .qac {
  margin-left: 0em;
  margin-right: 0em;
  padding: 0;
  text-indent: 0;
  font-style: italic;
}
.scripture-styles .qm2 {
  margin-left: 1.5em;
  margin-right: 0em;
}
.scripture-styles .qm3 {
  margin-left: 2em;
  margin-right: 0em;
}
.scripture-styles .qt {
  font-style: italic;
  text-indent: 0;
  padding: 0;
  margin: 0;
}
.scripture-styles .bk {
  font-style: italic;
}
.scripture-styles .nd {
  font-variant: small-caps;
}
.scripture-styles .add {
  font-style: italic;
}
.scripture-styles .dc {
  font-style: italic;
}
.scripture-styles .k {
  font-weight: bold;
  font-style: italic;
}
.scripture-styles .lit {
  text-align: right;
  font-weight: bold;
}
.scripture-styles .pn {
  font-weight: bold;
  text-decoration: underline;
}
.scripture-styles .sls {
  font-style: italic;
}
.scripture-styles .tl {
  font-style: italic;
}
.scripture-styles .wj {
  color: #cc0000;
}
.scripture-styles .em {
  font-style: italic;
}
.scripture-styles .bd {
  font-weight: bold;
}
.scripture-styles .it {
  font-style: italic;
}
.scripture-styles .bdit {
  font-weight: bold;
  font-style: italic;
}
.scripture-styles .no {
  font-weight: normal;
  font-style: normal;
}
.scripture-styles .sc {
  font-variant: small-caps;
}
.scripture-styles .qt {
  font-style: italic;
}
.scripture-styles .sig {
  font-weight: normal;
  font-style: italic;
}
.scripture-styles table {
  width: 100%;
  display: table;
}
.scripture-styles .tr {
  display: table-row;
}
.scripture-styles [class^="th"] {
  font-style: italic;
  display: table-cell;
}
.scripture-styles [class^="thr"] {
  text-align: right;
  padding: 0 25px;
}
.scripture-styles [class^="tc"] {
  display: table-cell;
}
.scripture-styles [class^="tcr"] {
  text-align: right;
  padding: 0 25px;
}
.scripture-styles [class^="mt"] {
  text-align: center;
  font-weight: bold;
  letter-spacing: normal;
}
.scripture-styles .mt,
.scripture-styles .mt1,
.scripture-styles .mt2 {
  font-size: 40px;
  line-height: 50px;
  margin-top: 25px;
  margin-bottom: 25px;
}
.scripture-styles .mt2 {
  font-size: 34px;
  margin-top: -25px;
  font-style: italic;
  font-weight: normal;
}
.scripture-styles [class^="ms"],
.scripture-styles .ms,
.scripture-styles .ms1,
.scripture-styles .ms2,
.scripture-styles .ms3 {
  text-align: center;
  font-weight: bold;
  font-size: 27px;
  line-height: 50px;
  margin-top: 25px;
  margin-bottom: 0px;
}
.scripture-styles .mr {
  font-size: 0.9em;
  margin-bottom: 25px;
  text-align: center;
  font-weight: normal;
  font-style: italic;
}
.scripture-styles .s,
.scripture-styles .s1,
.scripture-styles .s2,
.scripture-styles .s3,
.scripture-styles .s4 {
  text-align: center;
  font-weight: bold;
  font-style: italic;
  font-size: inherit;
  margin-bottom: 15px;
  margin-top: 25px;
}
.scripture-styles .sr {
  font-weight: normal;
  font-style: italic;
  text-align: center;
  font-size: inherit;
  letter-spacing: normal;
}
.scripture-styles .r {
  font-size: 18px;
  font-weight: normal;
  font-style: italic;
  text-align: center;
  letter-spacing: normal;
}
.scripture-styles .rq {
  font-size: inherit;
  line-height: 25px;
  font-style: italic;
  text-align: right;
  letter-spacing: normal;
}
.scripture-styles .d {
  font-style: italic;
  text-align: center;
  font-size: inherit;
  letter-spacing: normal;
}
.scripture-styles .sp {
  text-align: left;
  font-weight: normal;
  font-style: italic;
  font-size: inherit;
  letter-spacing: normal;
}


button {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  color: var(--dark);
  line-height: 1.5;
}

body {
  margin: 0;
  background-color: var(--lg);
  background-image: linear-gradient(90deg, #edf4ff, var(--lg), #d3e0ff);
  background-size: 150% 100%;
  background-position: 0%;
  animation: gradient 8s ease-in-out infinite;
  /* animation: bob 2s ease-out infinite; */
}
@keyframes gradient {
  0% {
    background-position: 0%;
    color: white;
  }
  50% {
    background-position: 100%;
    color: var(--dark);
  }
  100% {
    background-position: 0%;
    color: white;
  }
}
@keyframes bob {
  0% {
    rotate: 0deg;
    transform: translateY(0px);
  }
  25% {
    rotate: 1deg;
    transform: translateY(10px);
  }
  50% {
    rotate: 360deg;
    transform: translateY(0px);
  }
  75% {
    rotate: 360deg;
    transform: translateY(10px);
  }
  100% {
    rotate: 0deg;
    transform: translateY(0px);
  }
}

#header-content {
  width: 100%;
  height: 60px;
  background-color: white;
}
#header-content img {
  height: 50px;
  margin: 5px 0px 5px 12px;
}
footer {
  padding-bottom: 80px;
}
#breadcrumb {
  display: flex;
  margin: 20px 0px 5px 65px;
  gap: 10px;
}
#breadcrumb li {
  list-style: none;
  font-size: 14px;
  color: #6b7280;
}

/* app content */
.flex-sect {
  display: flex;

  gap: 20px;
  flex-wrap: wrap;
}
.sect-grid3 ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 0;
}
.sect-grid ul {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  padding: 0;
}
.sect {
  max-width: 500px;
  min-width: 180px;
  margin-left: 60px;
  padding: 20px 40px;

  background-color: white;
  box-shadow: 0px 3px 12px #ededed;
  border-radius: 12px;
}
.sect-grid3 {
  max-width: 640px;
  /* animation: bob 2s ease-out infinite; */
}

.sect ul li {
  list-style: none;
  text-align: center;
  background-color: transparent;
}

.sect ul li button {
  border: none;
  box-shadow: 0px 1px 1px #ededed;
  border-radius: 5px;

  background-image: linear-gradient(90deg, var(--lg), var(--lg), var(--dark));
  background-size: 1000% 100%;
  background-position: 0%;
  
  color: var(--dark);
  cursor: pointer;
  outline: none;
  padding: 10px 10px;
  width: 100%;
  height: 100%;
  font-size: 20px;
  transition: background-position .5s ease-in-out, color .45s ease-in-out;
}

.sect ul li button:hover {
  background-position: 100%;
  color: white;
}

.sect-grid3 ul li button {
  width: 200px;
}

/* Translation page */
.sect-translation {
  max-width: 1440px;
  margin-left: 5%;
  margin-right: 5%;
  padding-bottom: 50px;
}

.translations {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  gap: .5%;
}

.translations > div {
  background-color: var(--lg);
  box-shadow: 0px 2px 2px #ededed;
  border-radius: 12px;
  padding: 14px;
  width: 29%;
  /* min-width: 300px; */
}

select {
  cursor: pointer;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #eee;
  transition: border .2s ease;
}

select:hover {
  border: 1px solid var(--light);
}

.scripture-styles {
  margin-top: 16px;
}

.info {
  display: flex;
  gap: 2px;
  padding: 0px;
  margin-bottom: 10px;
}

.info:hover {
  cursor: pointer;
}

.info img {
  width: 20px;
}

.info p {
  display: block;
  margin: 0;
  padding: 0;
  line-height: 20px;
}

.gray {
  background-color: var(--lg);
  border-radius: 5px;
  padding-left: 10px;
}

.hidden {
  display: none;
}

#bibles-not-included li {
  text-align: left;
}

/* Chat */
.chat {
  text-align: left;
}
.chat > button {
  /* width: 100%; */
  cursor: pointer;
  padding: 15px 20px;
  margin-top: 24px;
  box-sizing: border-box;
  border-radius: 8px;

  font-size: 20px;
  font-weight: bold;
  border: none;
  box-shadow: 0px 3px 6px #dedede;
  
  color: var(--dark);
  background-image: linear-gradient(45deg, var(--hover), var(--lg));
  background-size: 1000% 100%;
  animation: gradient 15s ease-in-out alternate infinite;
}
.chat button:hover {
  background-position: 100%;
}
/* .chat-window {} */
.chat-window hr {
  margin: 30px 0;
  width: 100%;
  padding: 0;
  border: none;
  border-bottom: 2px solid #dfdfdf;
}
.chat-window h2 {
  font-size: 30px;
  text-align: left;
}
.chat-window h2 span {
  font-size: 20px;
  color: var(--light);
}
.chat-footer {
  position: relative;
  width: 100%;
}
.chat-footer input {
  width: 100%;
  height: 60px;
  padding: 31px 15px;
  box-sizing: border-box;

  border: none;
  background-color: var(--lg);
  border-radius: 5px;
  box-shadow: 0px 3px 6px #dedede;

  
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: bold;
  color:  var(--dark);
}
.chat-footer input::placeholder {
  color: #687a9e;
}
.chat-footer input:focus {
  outline: none;
}
.chat-footer button {
  cursor: pointer;
  position: absolute;
  height: 100%;
  border: none;
  right: 0px;
  bottom: 0px;
  background-color: transparent;
}
.chat-footer button img {
  height: 100%;
  padding: 20%;
  box-sizing: border-box;
}
.user-circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--dark);
  margin-right: 10px;
}
.user-circle img {
  width: 70%;
  height: 100%;
  overflow: visible;
}
.chat-message {
  display: flex;
  margin-bottom: 20px;
}
.chat-message-bubble {
  display: block;
  width: 80%;
  margin-top: 5px;
  color: white;
  border-radius: 5px;
  background-color: var(--lg);
}
.chat-message-bubble .spinner-box {
  width: 100%;
  margin-bottom: 0px;
}

@media screen and (max-width: 850px) {
  .sect-translation {
    margin-left: 10%;
    margin-right: 10%;
    padding: 24px 4%;
  }
  .translations {
    flex-direction: column;
    gap: 10px;
  }
  .translations > div {
    width: 90%;
    margin-bottom: 10px;
    padding: 4%;
  }
}

@media screen and (max-width: 800px) {
  .sect-grid3 ul {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 700px) {
  .sect-grid {
    margin-left: 10%;
    margin-right: 10%;
    padding: 24px 4%;
  }
  .sect-grid ul {
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
  }
  .sect-translation {
    margin-left: 10%;
    margin-right: 10%;
    padding: 24px 4%;
  }
}

@media screen and (max-width: 600px) {
  .sect-grid3 ul {
    grid-template-columns: repeat(1, 1fr);
    gap: 5px;
  }
  .sect-grid3 ul li button {
    text-align: left;
  }
  .sect-grid3 {
    max-width: 80%;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    padding: 24px 5%;
  }
  .sect-grid3 ul li button {
    width: 100%;
  }
}

/* Loading */
.spinner-box {
  width: 100%;
  height: 120px;
  margin-bottom: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.sect-grid3 .spinner-box {
  width: 640px;
}
.pulse-container {
  width: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pulse-bubble {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--dark);
}

.pulse-bubble-1 {
    animation: pulse .4s ease 0s infinite alternate;
}
.pulse-bubble-2 {
    animation: pulse .4s ease .2s infinite alternate;
}
.pulse-bubble-3 {
    animation: pulse .4s ease .4s infinite alternate;
}

@keyframes pulse {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: .25;
    transform: scale(.75);
  }
}
@media screen and (max-width: 800px) {
  .sect-grid3  .spinner-box {
    width: 420px;
  }
}
@media screen and (max-width: 600px) {
  .sect-grid3 .spinner-box {
    width: 100%;
    height: 100px;
  }
  .pulse-container {
    width: 100px;
  }
  .pulse-bubble {
    width: 15px;
    height: 15px;
  }
}

